{% extends 'base.html.twig' %}

{% block title %}
    {% if type == "add"  %}
        Register
    {% else %}
        Edytuj
    {% endif %}
{% endblock %}

{% block body %}

    <div class="five form_container">
        <div class="five">
        {{ form_start(form) }}
            <div class="ten form_group">
                <div class="ten flex_column">
                    {{ form_errors(form.title) }}
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="ten form_group">
                <div class="ten flex_column">
                    {{ form_errors(form.description) }}
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
        {% if type == "add"  %}
            <button id="submit" type="submit" class="ten">Dodaj ofertę</button>
        {% else %}
            <button id="submit" type="submit" class="ten">Edytuj ofertę</button>
        {% endif %}
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
