{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <div class="">
        <ul>
            {% for offer in pager %}
                <li>
                    <div>
                        <p><strong>{{ offer.title }}</strong></p>
                        <p>{{ offer.description }}</p>
                        <div>
                            <p>{{ offer.createdAt|date("m/d/Y")}}</p>
                            <p>{{ offer.jobApplications|length }}</p>
                        </div>
                            {% set isRead = false %}
                            {% for application in offer.jobApplications %}
                               {% if application.isRead == false %}
                                   {% if isRead == false %}
                                       {% set isRead = true %}
                                   {% endif %}
                               {% endif %}
                            {% endfor %}
                        {% if isRead == true %}
                            <p>NOWE</p>
                        {% endif %}
                        <div>
                            <a href="{{ path('job_offer_show', {id: offer.id  }) }}" class="button_main">Otworz oferte</a>

                            <a href="{{ path('job_offer_edit', {id: offer.id  }) }}" class="button_main">Edytuj</a>
                            <a href="{{ path('job_offer_remove', {id: offer.id  }) }}" onclick="return confirm('Czy jesteś pewien ?')" class="button_main">Usuń</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="row">
            {{ pagerfanta(pager) }}
        </div>
    </div>
{% endblock %}