{% extends 'base.html.twig' %}

{% block title %}Oferta - {{ jobOffer.title }} {% endblock %}

{% block body %}
    <div class="box ten">
        <div class="content_container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="box six">
                <h1><strong>{{ jobOffer.title }}</strong></h1>
                <p>{{ jobOffer.createdAt|date("m/d/Y")}}</p>
                <p>{{ jobOffer.description }}</p>
            </div>
            <div class="two">
                {% if hasApply == true  %}
                    <p class="button_main">Złożona</p>
                {% else %}
                    <a href="{{ path('job_application_new', {id: jobOffer.id  }) }}" class="button_main">Złóż aplikacje</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}