{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <div class="">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <p><strong>{{ jobOffer.title }}</strong></p>
        <p>{{ jobOffer.description }}</p>
        <p>{{ jobOffer.createdAt|date("m/d/Y")}}</p>
        {% if hasApply == true  %}
            <p class="button_main">Aplikacja złożona</p>
        {% else %}
            <a href="{{ path('job_application_new', {id: jobOffer.id  }) }}" class="button_main">Złóż aplikacje</a>
        {% endif %}
    </div>
{% endblock %}