<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ absolute_url(asset('css/grid.css')) }}" rel="stylesheet" type="text/css"/>
        <link href="{{ absolute_url(asset('css/project-specific.css')) }}" rel="stylesheet" type="text/css"/>


        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    </head>
    <body>
    <header class="row">
        <div class="logo two" >
            <a href="{{ path('main_page') }}">EpicJob</a>
        </div>
        <navi class="box three">
            <div class=" three float_right navi_button">
                <p>Moje konto</p>
                <div class=" user_panel box">
                    {% if not app.user %}
                        <h4>Witaj na EpicJob</h4>
                        <p>Zaloguj sie i uzyskaj dostęp do szybkiego aplikowania i wielu innych funkcji</p>
                        <a href="{{ path('app_login') }}" class="button_main_navi">Zaloguj się</a>
                        <p>Nie masz jeszcze konta ?</p>
                        <a href="{{ path('user_add') }}" class="button_main_navi">Zarejestruj się</a>
                    {% else %}
                        <a href="{{ path('user_edit') }}" class="button_main_navi">Edycja</a>
                        <p>------------------</p>
                        <a href="{{ path('app_logout') }}" class="button_main_navi">Wyloguj się</a>
                    {% endif %}
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="five float_right navi_button admin_navi">
                    <p>Panel Administratora</p>
                    <div class="admin_panel user_panel box eightt">
                        <a href="{{ path('job_offer_add') }}" class="button_main_navi">Dodaj oferte</a>
                        <a href="{{ path('job_offer_list') }}" class="button_main_navi">Lista ofert</a>
                    </div>
                </div>

            {% endif %}
        </navi>
    </header>
        <section class="ten">
            <div class="eight content_container">
                {% block body %}{% endblock %}
            </div>
        </section>
    </body>
</html>
